.shortcut {
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.25rem;
    &:hover {
        background-color: color-mix(in srgb, var(--fg) 1%, transparent);
    }
    p{
        padding: 0;
        margin: 0;
        background: var(--bgs);
        color: var(--fg);
    }
}

.icon {
    height: 3rem;
    width: 3rem;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-blue {
    background-color: color-mix(in srgb, var(--blue) 10%, transparent);
    color: var(--blue);
}

.icon-green {
    background-color: color-mix(in srgb, var(--green) 10%, transparent);
    color: var(--green);
}

.icon-yellow {
    background-color: color-mix(in srgb, var(--yellow) 10%, transparent);
    color: var(--yellow);
}

.icon-red {
    background-color: color-mix(in srgb, var(--red) 10%, transparent);
    color: var(--red);
}