.navigation {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.grabber {
  cursor: grab;
}

.grabber:before {
    content: "";
    display: block;
    width: 5rem;
    height: 0.25rem;
    background-color: color-mix(in srgb, var(--fg) 60%, var(--bgs));
    border-radius: 2px;
    margin: 0.5rem auto 0.75rem auto;
}

.content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content a {
    height: 1.5rem;
    opacity: 0.8;

    :hover {
        opacity: 1;
    }
}

.title {
    flex-shrink: 0;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container:first-child {
    justify-content: flex-start;
}

.container:last-child {
    justify-content: flex-end;
}